<!DOCTYPE html>
<html>
<head>
  <title>修改订单状态成功</title>
  <style>
    body {
      background-color: #f4f4f4;
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 600px;
      margin: 100px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    h1 {
      color: #333;
    }

    p {
      color: #666;
      font-size: 18px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>修改订单状态成功</h1>
      <p><a href="/testapp/tosellerbusiness/">回到店里</a></p>
      <p><a href="/testapp/">返回首页</a></p>
  </div>
</body>
</html>